.container{
    height: 100vh;
    width: 100vw;
}


.first-section{
    background-color: #1F2937;
}
footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
}
.first-sect-first-item > h2{
    font: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}
.first-sect-first-item > button {
    background-color: #3882F6;
}

.second-section{
    background-color: #fff;
}
.third-section{
    background-color: #E5E7EB
}